.music-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.music-header button {
  position: relative;
  z-index: 10;
  color: #ffffff;
  border: 1px solid var(--secondary-color);
}

.library {
  position: absolute;
  top: 0;
  left: 0;
  width: 30rem;
  background-color: var(--mute-color);
  color: var(--dark-color);
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  overflow-y: scroll;
  overflow-x: auto;
  z-index: 5;
}

.show-library {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%)
}

.library h1 {
  padding: 1rem;
}

/* Library custom scrollbar */

.library {
  scrollbar-width: thin;
  scrollbar-color: rgb(204, 204, 204) transparent;
}

.library::-webkit-scrollbar {
  width: 1rem;
}

.library::-webkit-scrollbar-track {
  background: transparent;
}

.library::-webkit-scrollbar-thumb {
  background-color: rgb(122, 127, 128);
  border-radius: 4rem;
  border-color: transparent;
}

.song-item {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.song-item div {
  margin-left: 0.5rem;
}

.song-item:hover {
  background-color: rgb(220, 243, 252);
}

.song-item img {
  width: 30%;
}

.song-cover {
  display: inline-block;
  width: 40%;
  flex: 1 1 35%;
  align-self: center;
  border-radius: 50%;
  margin-top: 1.5rem;
}

.song-cover:hover {
  transform: rotate(-3deg);
  box-shadow: 0px 10px 20px var(--dark-color),
              -10px 0 20px var(--dark-color);
}

.seek-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.seek-container p {
  padding: 0 0.5rem;
}

#seekBar {
  max-width: 80%;
  width: 100%;
}

.volume-container {
  position: relative;
}

.volume-wrapper {
  height: 7rem;
  width: 0.84rem;
  position: absolute;
  top: -2rem;
  right: -2.5rem;
}

#volume {
  width: 7rem;
  height: 0.84rem;
  transform-origin: 3.5rem 3.5rem;
  transform: rotate(-90deg);
}

.music-action-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
} 

#play {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
}

#play i {
  color: var(--deep-color);
}

@media only screen and (min-width: 768px) {
  .music-container {
    _min-height: 80vh;
  }
}